behavior-hx/*.hx
linked
resources/*@*.png
resources/*@*.fnt
scenes/*.png
scenes/*.txt
snippets/*.png
*-half.png
Icon-*.png
ios-splash*.png
**/*.bak
win8-splash.png
win8-tile.png
inner-joystick*.png
ios-icon.png
ios
ipad-icon.png
ipad-splash.png
outer-joystick*.png
preloader*.png
.DS_Store
folder-*.png